.App {
  text-align: center;
}

.container {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.header {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}